<?xml version="1.0"?>
<launch>
	<arg name="tello_ip"                default="192.168.10.1" />
	<arg name="tello_cmd_server_port"	default="8889" />
	<arg name="local_cmd_client_port"	default="8890" />
	<arg name="local_vid_server_port"	default="6038" />
	<arg name="camera_calibration"		default="$(find tello_driver)/cfg/960x720.yaml" />    
	<!-- <arg name="namespace"			    default="tello" /> -->
    <!-- ifname from the iwconfig command on laptop -->
    <!-- laptop wifi interface name:            wlp48s0 -->
    <!-- (broken) foldable antenna wifi interface naifme:  wlx1cbfce8dc7fe -->
    <!-- (problematic!) A-tag D-Link wifi interface name:      	wlxa42a9546eae4 -->
    <!-- (undetected) tplink AC600 archer t2u nano:          	wlx1c61b47b37fc -->
    <!-- D-Link wifi interface name:            				wlxc4e90a08629a -->
    <arg name="ifname_0"                default="wlp48s0"/>
    <!-- <arg name="ifname_1"                default="wlxa42a9546eae4"/>      -->
    <arg name="ifname_1"                default="wlxc4e90a08629a"/>     
    <!-- <arg name="ifname_2"                default="wlxc4e90a08629a"/> -->


    <!-- the overseeing drone -->
    <group ns="tello_0">

		<node pkg="tello_driver" name="tello_driver_node" type="tello_driver_node" output="screen">
			<param name="local_cmd_client_port" value="$(arg local_cmd_client_port)" />
			<param name="local_vid_server_port" value="$(arg local_vid_server_port)" />
			<param name="tello_ip" value="$(arg tello_ip)" />
			<param name="tello_cmd_server_port" value="$(arg tello_cmd_server_port)" />
			<param name="connect_timeout_sec" value="10.0" />
			<param name="stream_h264_video" value="true" />
			<param name="camera_calibration" value="$(arg camera_calibration)" />	
            <param name="ifname"                value="$(arg ifname_0)" />			
		</node>
		<node pkg="image_transport" name="repub_img_raw_h264" type="republish" args="h264 in:=image_raw raw out:=image_raw/h264_trans" />
	
    </group>

    <!-- the face direction drone -->
	<group ns="tello_1">

		<node pkg="tello_driver" name="tello_driver_node" type="tello_driver_node" output="screen">
			<param name="local_cmd_client_port" value="$(arg local_cmd_client_port)" />
			<param name="local_vid_server_port" value="$(arg local_vid_server_port)" />
			<param name="tello_ip"              value="$(arg tello_ip)" />
			<param name="tello_cmd_server_port" value="$(arg tello_cmd_server_port)" />
			<param name="connect_timeout_sec"   value="10.0" />
			<param name="stream_h264_video"     value="true" />
			<!-- <param name="stream_h264_video"     value="false" /> -->
			<param name="camera_calibration"    value="$(arg camera_calibration)" />
            <param name="ifname"                value="$(arg ifname_1)" />		
		</node>
		<node pkg="image_transport" name="repub_img_raw_h264" type="republish" args="h264 in:=image_raw raw out:=image_raw/h264_trans" />

	</group>

	<!-- the side view drone -->
    <group ns="tello_2">
		<!-- <node pkg="tello_driver" name="tello_driver_node" type="tello_driver_node" output="screen">
			<param name="local_cmd_client_port" value="$(arg local_cmd_client_port)" />
			<param name="local_vid_server_port" value="$(arg local_vid_server_port)" />
			<param name="tello_ip" value="$(arg tello_ip)" />
			<param name="tello_cmd_server_port" value="$(arg tello_cmd_server_port)" />
			<param name="connect_timeout_sec" value="10.0" />
			<param name="stream_h264_video" value="true" />
			<param name="stream_h264_video"     value="false" />
        	<param name="camera_calibration" value="$(arg camera_calibration)" />	
            <param name="ifname"                value="$(arg ifname_2)" />			
		</node>
        <node pkg="image_transport" name="repub_img_raw_h264" type="republish" args="h264 in:=image_raw raw out:=image_raw/h264_trans" /> -->
    </group>

</launch>